.menu-item {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--text-color);
    border-radius: 4px;
    transition: background-color ease-in-out 200ms;
    &:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
    &.active {
        color: var(--white);
        .icon {
            display: none;
        }
        .active-icon {
            display: flex;
        }
    }
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}
.title {
    display: none;
    margin-left: 10px;
}
.icon,
.active-icon {
    display: flex;
}
.icon {
    color: rgb(179, 179, 179);
}

.active-icon {
    display: none;
}
