.content-item {
    width: 100%;
    border-radius: 4px;
    display: flex;
    padding: 8px;
    margin-bottom: 6px;
    color: #fff !important;
    &:hover {
        cursor: pointer;
        background-color: #1f1f1f;
    }
    &.active {
        background-color: var(--color-primary-2);
    }
}
.content-head {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.content-text {
    font-size: 1.6rem;
    &.active {
        color: var(--primary);
    }
}

.content-desc {
    display: flex;
    font-size: 1.4rem;
    color: #a9a9a9;
}
.content-span {
    position: relative;
    margin-left: 20px;
    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: -8px;
        transform: translate(-50%, -50%);
        width: 4px;
        height: 4px;
        background-color: #ccc;
        border-radius: 50%;
    }
}

.context-menu {
    display: flex;
    background-color: var(--color-primary-2);
    flex-direction: column;
    border-radius: 4px;
    padding: 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.menu-item {
    width: 100%;
    display: flex;
    padding: 10px 12px;
    white-space: nowrap;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #fff;
    border-bottom: 1px solid #5f5d5d;
    &:last-child {
        border-bottom: 1px solid transparent;
    }
    &:hover {
        background: #484747;
    }
}
.background-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: #000;
    background-color: var(--primary);
    padding: 3px;
    border-radius: 50%;
    margin-right: 10px;
}
.icon {
    margin-right: 10px;
}
