.wrapper {
    background: linear-gradient(var(--color-primary-2), black);
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 734px;
    height: 850px;
    margin: 30px;
    background-color: #121212;
    padding: 30px;
    border-radius: 8px;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-text {
    margin-top: 16px;
    color: #fff;
    font-size: 3rem;
    font-weight: 600;
}
.errors-res {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    padding: 10px 0;
    color: #fff;
    font-size: 1.4rem;
    width: 400px;
}
.content-media {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    padding: 10px 50px;
    border-bottom: 1px solid var(--color-primary-2);
}
.button-media {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    color: #fff;
    border: 1px solid #7c7c7c;
    border-radius: 20px;
    width: 315px;
    padding: 10px 10px;
    font-weight: 600;
    margin-bottom: 16px;
    &:hover {
        border: 1px solid #fff;
        cursor: pointer;
    }
}
.form {
    display: flex;
    color: #fff;
    flex-direction: column;
    margin-top: 20px;
}
.input {
    width: 315px;
    background: transparent;
    color: #fff;
    border: 1px solid #7c7c7c;
    border-radius: 8px;
    padding: 8px 40px 8px 10px;
    margin-bottom: 16px;
    &:hover {
        border: 1px solid #fff;
    }
}
.errors-text {
    color: red;
    text-transform: capitalize;
    font-size: 1.4rem;
}

.button-form {
    width: 100%;
    padding: 14px 30px;
    border-radius: 20px;
    background-color: var(--primary);
    font-weight: 600;
    border: 1px solid transparent;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
    }
    &:focus {
        outline: transparent;
    }
}
.text-bottom {
    color: #fff !important;
    text-decoration: underline !important;
}
.footer {
    display: flex;
    justify-content: center;
    color: #7c7c7c;
    margin-top: 20px;
}
