.container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 8px;
    background-color: transparent;
    border-radius: 10px;
    &:hover {
        background-color: #1f1f1f;
        cursor: pointer;
    }
    &:hover .button-inner {
        display: flex;
    }
}
.image {
    height: 136px !important;
    width: 136px !important;
    border-radius: 50%;
}
.noborder {
    border-radius: 6px !important;
}
.info {
    margin-top: 6px;
    margin-right: auto;
}
.name {
    font-size: 1.6rem;
    font-weight: 200;
    color: #fff;
    &:hover {
        text-decoration: underline;
    }
}
.desc {
    font-size: 1.4rem;
    color: #b3b3b3;
    margin-top: 4px;
}
.button-inner {
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    position: absolute;
    color: #1f1f1f;
    bottom: 32%;
    right: 15px;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: #1ed760;

    animation: ease-in-out 0.3s toTop;
}
@keyframes toTop {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
