.wrapper {
    display: flex;
    color: #fff;
    background-color: #000;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.logo {
    width: 42px;
    height: 42px;
    color: #fff;
    margin-left: 40px;
}
.search-home {
    display: flex;
    align-items: center;
}
.background-icon {
    padding: 10px 12px;
    background-color: #333;
    border-radius: 50%;
    margin-right: 8px;
    &:hover {
        cursor: pointer;
        transform: scale(1.04);
    }
}
.auth-form {
    display: flex;
    justify-content: end;
    align-items: center;
}
.register {
    color: rgb(179, 179, 179);
    margin-right: 12px;
    font-weight: 600;
    &:hover {
        transform: scale(1.04);
        color: #fff;
        cursor: pointer;
    }
}
.signin {
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    font-weight: 600;
    &:hover {
        transform: scale(1.04);
        cursor: pointer;
    }
    border-radius: 30px;
}
.tippy {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
}
