.wrapper {
    margin: 0 auto; /* Căn giữa */
}
.container {
    display: flex;
    margin-top: 64px;
    color: #fff;
    &::-webkit-scrollbar {
        border-radius: 10px;
        width: 0;
    }
}
.content {
    margin-left: 29vw;
    width: 100%;
    border-radius: 10px;
}
.footer {
}
